.input_de {
    width: 100%;
    height: max-content;
    text-align: left;
    box-sizing: border-box;

    input {
        width: 100%;
        background: rgba(255, 255, 255, 0.596);
        border: none;
        outline: none;
        padding: 10px;
        font-size: 14px;
        color: #333;
        border-bottom: 1px solid #333;
    }

    input:focus {
        border-bottom: 1px solid #29C4A9;
        color: #000;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}