.back_end {
    .module_dataElement {
        width: 100%;
        height: max-content;
        padding: 16px 8px;
        background-color: #E5E5E5;
        border-radius: 0 0 4px 4px;
        box-sizing: border-box;

        .grid-dElement_settings {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 4px 4px;
            grid-template-areas:
                "l1c1 l1c2"
                "l2c1 l2c2"
                "l3c1 l3c2";
        }

        .l1c1 {
            grid-area: l1c1;
            border: 1px solid #333;
        }

        .l2c1 {
            grid-area: l2c1;
            border: 1px solid #333;
        }

        .l3c1 {
            grid-area: l3c1;
            border: 1px solid #333;
        }

        .l1c2 {
            grid-area: l1c2;
            border: 1px solid #333;
        }

        .l2c2 {
            grid-area: l2c2;
            border: 1px solid #333;
        }

        .l3c2 {
            grid-area: l3c2;
            border: 1px solid #333;
        }
    }
}

.front_end {}