$amber-fc-50: $color_black;
$amber-bg-50: #FFF8E1;

$amber-fc-100: $color_black;
$amber-bg-100: #FFECB3;

$amber-fc-200: $color_black;
$amber-bg-200: #FFE082;

$amber-fc-300: $color_black;
$amber-bg-300: #FFD54F;

$amber-fc-400: $color_black;
$amber-bg-400: #FFCA28;

$amber-fc-500: $color_black;
$amber-bg-500: #FFC107;

$amber-fc-600: $color_black;
$amber-bg-600: #FFB300;

$amber-fc-700: $color_black;
$amber-bg-700: #FFA000;

$amber-fc-800: $color_black;
$amber-bg-800: #FF8F00;

$amber-fc-900: $color_black;
$amber-bg-900: #FF6F00;