$blue-fc-50: $color_black;
$blue-bg-50: #E3F2FD;

$blue-fc-100: $color_black;
$blue-bg-100: #BBDEFB;

$blue-fc-200: $color_black;
$blue-bg-200: #90CAF9;

$blue-fc-300: $color_black;
$blue-bg-300: #64B5F6;

$blue-fc-400: $color_black;
$blue-bg-400: #42A5F5;

$blue-fc-500: $color_black;
$blue-bg-500: #2196F3;

$blue-fc-600: $color_white;
$blue-bg-600: #1E88E5;

$blue-fc-700: $color_white;
$blue-bg-700: #1976D2;

$blue-fc-800: $color_white;
$blue-bg-800: #1565C0;

$blue-fc-900: $color_white;
$blue-bg-900: #0D47A1;