$blue_gray-fc-50: $color_black;
$blue_gray-bg-50: #ECEFF1;

$blue_gray-fc-100: $color_black;
$blue_gray-bg-100: #CFD8DC;

$blue_gray-fc-200: $color_black;
$blue_gray-bg-200: #B0BEC5;

$blue_gray-fc-300: $color_black;
$blue_gray-bg-300: #90A4AE;

$blue_gray-fc-400: $color_white;
$blue_gray-bg-400: #78909C;

$blue_gray-fc-500: $color_white;
$blue_gray-bg-500: #607D8B;

$blue_gray-fc-600: $color_white;
$blue_gray-bg-600: #546E7A;

$blue_gray-fc-700: $color_white;
$blue_gray-bg-700: #455A64;

$blue_gray-fc-800: $color_white;
$blue_gray-bg-800: #37474F;

$blue_gray-fc-900: $color_white;
$blue_gray-bg-900: #263238;