$brown-fc-50: $color_black;
$brown-bg-50: #EFEBE9;

$brown-fc-100: $color_black;
$brown-bg-100: #D7CCC8;

$brown-fc-200: $color_black;
$brown-bg-200: #BCAAA4;

$brown-fc-300: $color_white;
$brown-bg-300: #A1887F;

$brown-fc-400: $color_white;
$brown-bg-400: #8D6E63;

$brown-fc-500: $color_white;
$brown-bg-500: #795548;

$brown-fc-600: $color_white;
$brown-bg-600: #6D4C41;

$brown-fc-700: $color_white;
$brown-bg-700: #5D4037;

$brown-fc-800: $color_white;
$brown-bg-800: #4E342E;

$brown-fc-900: $color_white;
$brown-bg-900: #3E2723;