$cyan-fc-50: $color_black;
$cyan-bg-50: #E0F7FA;

$cyan-fc-100: $color_black;
$cyan-bg-100: #B2EBF2;

$cyan-fc-200: $color_black;
$cyan-bg-200: #80DEEA;

$cyan-fc-300: $color_black;
$cyan-bg-300: #4DD0E1;

$cyan-fc-400: $color_black;
$cyan-bg-400: #26C6DA;

$cyan-fc-500: $color_black;
$cyan-bg-500: #00BCD4;

$cyan-fc-600: $color_black;
$cyan-bg-600: #00ACC1;

$cyan-fc-700: $color_white;
$cyan-bg-700: #0097A7;

$cyan-fc-800: $color_white;
$cyan-bg-800: #00838F;

$cyan-fc-900: $color_white;
$cyan-bg-900: #006064;