$deep_purple-fc-50: $color_black;
$deep_purple-bg-50: #EDE7F6;

$deep_purple-fc-100: $color_black;
$deep_purple-bg-100: #D1C4E9;

$deep_purple-fc-200: $color_black;
$deep_purple-bg-200: #B39DDB;

$deep_purple-fc-300: $color_white;
$deep_purple-bg-300: #9575CD;

$deep_purple-fc-400: $color_white;
$deep_purple-bg-400: #7E57C2;

$deep_purple-fc-500: $color_black;
$deep_purple-bg-500: #673AB7;

$deep_purple-fc-600: $color_white;
$deep_purple-bg-600: #5E35B1;

$deep_purple-fc-700: $color_white;
$deep_purple-bg-700: #512DA8;

$deep_purple-fc-800: $color_white;
$deep_purple-bg-800: #4527A0;

$deep_purple-fc-900: $color_white;
$deep_purple-bg-900: #311B92;