$deep_orange-fc-50: $color_black;
$deep_orange-bg-50: #FBE9E7;

$deep_orange-fc-100: $color_black;
$deep_orange-bg-100: #FFCCBC;

$deep_orange-fc-200: $color_black;
$deep_orange-bg-200: #FFAB91;

$deep_orange-fc-300: $color_black;
$deep_orange-bg-300: #FF8A65;

$deep_orange-fc-400: $color_black;
$deep_orange-bg-400: #FF7043;

$deep_orange-fc-500: $color_black;
$deep_orange-bg-500: #FF5722;

$deep_orange-fc-600: $color_white;
$deep_orange-bg-600: #F4511E;

$deep_orange-fc-700: $color_white;
$deep_orange-bg-700: #D84315;

$deep_orange-fc-800: $color_white;
$deep_orange-bg-800: #EF6C00;

$deep_orange-fc-900: $color_white;
$deep_orange-bg-900: #BF360C;