$gray-fc-50: $color_black;
$gray-bg-50: #FAFAFA;

$gray-fc-100: $color_black;
$gray-bg-100: #F5F5F5;

$gray-fc-200: $color_black;
$gray-bg-200: #EEEEEE;

$gray-fc-300: $color_black;
$gray-bg-300: #E0E0E0;

$gray-fc-400: $color_black;
$gray-bg-400: #9E9E9E;

$gray-fc-500: $color_black;
$gray-bg-500: #9E9E9E;

$gray-fc-600: $color_white;
$gray-bg-600: #757575;

$gray-fc-700: $color_white;
$gray-bg-700: #616161;

$gray-fc-800: $color_white;
$gray-bg-800: #424242;

$gray-fc-900: $color_white;
$gray-bg-900: #212121;