$green-fc-50: $color_black;
$green-bg-50: #E8F5E9;

$green-fc-100: $color_black;
$green-bg-100: #C8E6C9;

$green-fc-200: $color_black;
$green-bg-200: #A5D6A7;

$green-fc-300: $color_black;
$green-bg-300: #81C784;

$green-fc-400: $color_black;
$green-bg-400: #66BB6A;

$green-fc-500: $color_black;
$green-bg-500: #4CAF50;

$green-fc-600: $color_white;
$green-bg-600: #43A047;

$green-fc-700: $color_white;
$green-bg-700: #388E3C;

$green-fc-800: $color_white;
$green-bg-800: #2E7D32;

$green-fc-900: $color_white;
$green-bg-900: #1B5E20;