$indigo-fc-50: $color_black;
$indigo-bg-50: #E8EAF6;

$indigo-fc-100: $color_black;
$indigo-bg-100: #C5CAE9;

$indigo-fc-200: $color_black;
$indigo-bg-200: #9FA8DA;

$indigo-fc-300: $color_white;
$indigo-bg-300: #7986CB;

$indigo-fc-400: $color_white;
$indigo-bg-400: #5C6BC0;

$indigo-fc-500: $color_white;
$indigo-bg-500: #3F51B5;

$indigo-fc-600: $color_white;
$indigo-bg-600: #3949AB;

$indigo-fc-700: $color_white;
$indigo-bg-700: #303F9F;

$indigo-fc-800: $color_white;
$indigo-bg-800: #283593;

$indigo-fc-900: $color_white;
$indigo-bg-900: #1A237E;