$light_blue-fc-50: $color_black;
$light_blue-bg-50: #E1F5FE;

$light_blue-fc-100: $color_black;
$light_blue-bg-100: #B3E5FC;

$light_blue-fc-200: $color_black;
$light_blue-bg-200: #81D4FA;

$light_blue-fc-300: $color_black;
$light_blue-bg-300: #4FC3F7;

$light_blue-fc-400: $color_black;
$light_blue-bg-400: #29B6F6;

$light_blue-fc-500: $color_black;
$light_blue-bg-500: #03A9F4;

$light_blue-fc-600: $color_black;
$light_blue-bg-600: #039BE5;

$light_blue-fc-700: $color_white;
$light_blue-bg-700: #0288D1;

$light_blue-fc-800: $color_white;
$light_blue-bg-800: #0277BD;

$light_blue-fc-900: $color_white;
$light_blue-bg-900: #01579B;