$light_green-fc-50: $color_black;
$light_green-bg-50: #F1F8E9;

$light_green-fc-100: $color_black;
$light_green-bg-100: #DCEDC8;

$light_green-fc-200: $color_black;
$light_green-bg-200: #C5E1A5;

$light_green-fc-300: $color_black;
$light_green-bg-300: #AED581;

$light_green-fc-400: $color_black;
$light_green-bg-400: #9CCC65;

$light_green-fc-500: $color_black;
$light_green-bg-500: #8BC34A;

$light_green-fc-600: $color_black;
$light_green-bg-600: #7CB342;

$light_green-fc-700: $color_black;
$light_green-bg-700: #689F38;

$light_green-fc-800: $color_white;
$light_green-bg-800: #558B2F;

$light_green-fc-900: $color_white;
$light_green-bg-900: #33691E;