$lime-fc-50: $color_black;
$lime-bg-50: #F9FBE7;

$lime-fc-100: $color_black;
$lime-bg-100: #F0F4C3;

$lime-fc-200: $color_black;
$lime-bg-200: #E6EE9C;

$lime-fc-300: $color_black;
$lime-bg-300: #DCE775;

$lime-fc-400: $color_black;
$lime-bg-400: #D4E157;

$lime-fc-500: $color_black;
$lime-bg-500: #CDDC39;

$lime-fc-600: $color_black;
$lime-bg-600: #C0CA33;

$lime-fc-700: $color_black;
$lime-bg-700: #AFB42B;

$lime-fc-800: $color_black;
$lime-bg-800: #9E9D24;

$lime-fc-900: $color_white;
$lime-bg-900: #827717;