$orange-fc-50: $color_black;
$orange-bg-50: #FFF3E0;

$orange-fc-100: $color_black;
$orange-bg-100: #FFE0B2;

$orange-fc-200: $color_black;
$orange-bg-200: #FFCC80;

$orange-fc-300: $color_black;
$orange-bg-300: #FFB74D;

$orange-fc-400: $color_black;
$orange-bg-400: #FFA726;

$orange-fc-500: $color_black;
$orange-bg-500: #FF9800;

$orange-fc-600: $color_black;
$orange-bg-600: #FB8C00;

$orange-fc-700: $color_black;
$orange-bg-700: #F57C00;

$orange-fc-800: $color_black;
$orange-bg-800: #EF6C00;

$orange-fc-900: $color_white;
$orange-bg-900: #FF6F00;