$pink-fc-50: $color_black;
$pink-bg-50: #FCE4EC;

$pink-fc-100: $color_black;
$pink-bg-100: #F8BBD0;

$pink-fc-200: $color_black;
$pink-bg-200: #F48FB1;

$pink-fc-300: $color_black;
$pink-bg-300: #F06292;

$pink-fc-400: $color_white;
$pink-bg-400: #EC407A;

$pink-fc-500: $color_white;
$pink-bg-500: #E91E63;

$pink-fc-600: $color_white;
$pink-bg-600: #D81B60;

$pink-fc-700: $color_white;
$pink-bg-700: #C2185B;

$pink-fc-800: $color_white;
$pink-bg-800: #AD1457;

$pink-fc-900: $color_white;
$pink-bg-900: #880E4F;