$red-fc-50: $color_black;
$red-bg-50: #FFEBEE;

$red-fc-100: $color_black;
$red-bg-100: #FFCDD2;

$red-fc-200: $color_black;
$red-bg-200: #EF9A9A;

$red-fc-300: $color_black;
$red-bg-300: #E57373;

$red-fc-400: $color_white;
$red-bg-400: #EF5350;

$red-fc-500: $color_white;
$red-bg-500: #F44336;

$red-fc-600: $color_white;
$red-bg-600: #E53935;

$red-fc-700: $color_white;
$red-bg-700: #D32F2F;

$red-fc-800: $color_white;
$red-bg-800: #C62828;

$red-fc-900: $color_white;
$red-bg-900: #B71C1C;