$teal-fc-50: $color_black;
$teal-bg-50: #E0F2F1;

$teal-fc-100: $color_black;
$teal-bg-100: #B2DFDB;

$teal-fc-200: $color_black;
$teal-bg-200: #80CBC4;

$teal-fc-300: $color_black;
$teal-bg-300: #4DB6AC;

$teal-fc-400: $color_black;
$teal-bg-400: #26A69A;

$teal-fc-500: $color_white;
$teal-bg-500: #009688;

$teal-fc-600: $color_white;
$teal-bg-600: #00897B;

$teal-fc-700: $color_white;
$teal-bg-700: #00796B;

$teal-fc-800: $color_white;
$teal-bg-800: #00695C;

$teal-fc-900: $color_white;
$teal-bg-900: #004D40;