$yellow-fc-50: $color_black;
$yellow-bg-50: #FFFDE7;

$yellow-fc-100: $color_black;
$yellow-bg-100: #FFF9C4;

$yellow-fc-200: $color_black;
$yellow-bg-200: #FFF59D;

$yellow-fc-300: $color_black;
$yellow-bg-300: #FFF176;

$yellow-fc-400: $color_black;
$yellow-bg-400: #FFEE58;

$yellow-fc-500: $color_black;
$yellow-bg-500: #FFEB3B;

$yellow-fc-600: $color_black;
$yellow-bg-600: #FDD835;

$yellow-fc-700: $color_black;
$yellow-bg-700: #FBC02D;

$yellow-fc-800: $color_black;
$yellow-bg-800: #F9A825;

$yellow-fc-900: $color_black;
$yellow-bg-900: #F57F17;