html,
body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: $typ-primary;
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;

  .wrapper {
    width: 100%;
    height: calc(100% - 72px);
    padding: 8px 16px 0px 16px;
    background-color: #E5E5E5;
    box-sizing: border-box;
    overflow-x: hidden;

    .grid-container {
      display: grid;
      grid-template-columns: 1.8fr 0.8fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "gr-wrapper gr-sidebar";
    }

    .gr-wrapper {
      grid-area: gr-wrapper;
      text-align: left;
      width: 100%;
      height: calc(100% - 272px);
      box-sizing: border-box;

      .gr-wrapper_cont{
        width: 100%;
        height: 100%;
        overflow-y: auto;
        box-sizing: border-box;
      }
    }

    .gr-sidebar {
      grid-area: gr-sidebar;
      text-align: left;
    }

  }

  .nav_bottom {
    width: 100%;
    height: 72px;
    padding: 8px 16px 0px 16px;

    box-sizing: border-box;

    .grid-bottom {
      display: grid;
      grid-template-columns: 1.2fr 1.2fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-template-areas:
        "gr-Bottom-left gr-Bottom-right";
    }

    .gr-Bottom-left {
      grid-area: gr-Bottom-left;
      text-align: left;

      div{
        width: max-content;
        height: max-content;
        background-color: #333;
        padding: 8px 10px;
        box-sizing: border-box;
        border-radius: $radius;

        span{
          margin-right: 12px;
          cursor: pointer;
        }
      }
    }

    .gr-Bottom-right {
      grid-area: gr-Bottom-right;
      text-align: right;

      .btn_save{
        float: right;
        width: max-content;
        min-width: 90px;
        height: max-content;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #FFF;
        background-color: #29C4A9;
        padding: 8px 10px;
        border-radius: $radius;
        cursor: pointer;
        box-sizing: border-box;

      }
    }
  }

  .scrim {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    bottom: 0;
    left: 0;
    background-color: rgba($color-typ-sl, 35%);
    opacity: 0.4;
  }

  // style scrolls

  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid $bk-autofill;
    -webkit-text-fill-color: $color-p;
    -webkit-box-shadow: 0 0 0px 1000px $bk-autofill inset;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s;
  }

}