html,
body {
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-family: $typ-primary;
  background-position: right;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
}

.wrapper {
  width: 100%;
  height: auto;
  height: calc(100% - 56px);
  padding: 8px 16px 0px 16px !important;
  box-sizing: border-box;
}

.scrim {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  bottom: 0;
  left: 0;
  background-color: rgba($color-typ-sl, 35%);
  opacity: 0.4;
}

// style scrolls

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid $bk-autofill;
  -webkit-text-fill-color: $color-p;
  -webkit-box-shadow: 0 0 0px 1000px $bk-autofill inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}


input {
  width: 100%;
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    0 1px 1px rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}

input:focus {
  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.4),
    0 1px 1px rgba(255, 255, 255, 0.2);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}